html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Aboreto', cursive;

    /* font-family: 'Exo 2', sans-serif; */


    box-sizing: border-box;
}

input[type=submit] {
    padding: 20px;
    font-size: 16px;
    font-weight: bolder;
    border: 1px solid black;
    background-color: white;
    font-family: 'Aboreto', cursive;
    margin: 10px 0;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
}

section {
    height: 100vh;
    /* overflow: hidden; */

}

/* scroll */
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(7, 0, 41);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar {
    width: 5px;
}

/* nav bar */
nav {
    background-color: white;
    padding: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav ul li {
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    font-weight: 900;
}
nav ul li a{
    text-decoration: none;
    color: #000000;

}
nav ul li a:hover{
    text-decoration: none;
    color: gray;

}

nav ul .logo img {
    width: 120px;
    padding: 0;
}
a.icon {
    display: none;
  }

/* welcome section */
.welcome-section {

    color: aliceblue;
}

.welcome-section>img {
    /* height: 100vh; */
    width: 100%;
    position: relative;
}

.welcome-section h5 {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    text-align: center;

}

.welcome-section h5 span {
    font-size: 70px;
    display: block;
}

.welcome-section h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;

}

.welcome-section .reservation {
    color: black;
    background-color: white;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 70%;
    height: 200px;
    position: absolute;
    left: 50%;
    bottom: -40%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

.welcome-section .reservation label {
    display: flex;
    flex-direction: column;
}

.welcome-section .reservation label input {
    margin: 30px 0;
    font-size: 30px;
    border: none;
    outline: none;
    font-family: 'Aboreto', cursive;

}

.vl {
    height: 150px;
    border-width: 1px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            rgb(156, 156, 156),
            rgba(0, 0, 0, 0)) 1 100%;
}

.hotel-section {

    --s: 80px;
    /* control the size */
    --c1: #ffffff;
    --c2: #faefe7f2;
    --_g:
        var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%, var(--c1) 36% 45%,
        var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%, var(--c1) 76% 85%, var(--c2) 86% 95%,
        #0000 96%;
    background:
        radial-gradient(50% 50% at 100% 0, var(--_g)),
        radial-gradient(50% 50% at 0 100%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)) calc(var(--s)/2) calc(var(--s)/2) var(--c1);
    background-size: var(--s) var(--s);
    position: relative;

}

.hotel-section {
    padding: 50px 0;


}

.hotel-section .container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.hotel-section h4 {
    text-align: center;
    position: relative;
    margin-top: 10%;
    padding: 40px;
}

h5.phone {

    writing-mode: vertical-lr;
    text-align: start;
    position: fixed;
    right: 0%;
    top: 30%;
    text-shadow: 0 0 25px white;
}

h5.email {
    writing-mode: vertical-lr;
    position: fixed;
    text-align: start;
    text-shadow: 0 0 25px white;
    right: 0%;
    top: 70%;


}

.hotel-section .container img {
    height: 400px;
    border: #ffffff solid 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.hotel-section .container div {
    margin-top: 30px;
    width: 50%;
    padding: 30px;

}

.hotel-section .container div h1 {

    font-size: 40px;
    font-weight: 900;

}

.hotel-section .container div p {
    line-height: 30.5pt;
}

/* blog section */
.blog-section .container {
    margin: 120px auto;
    width: 70%;
}

.blog-section .container h5,
h1 {
    text-align: center;

}

.blog-section .container .card {
    display: flex;
    justify-content: space-between;
}

.blog-section .container .card>div {
    width: 350px;
    height: 450px;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 10px -10px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;


}

.blog-section .container .card>div:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.blog-section .container .card>div img {
    width: 100%;
}

.blog-section .container .card>div h5 {
    text-align: start;
}

.blog-section .container .card>div h1 {
    text-align: start;

}

.blog-section .container .card>div button {
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: 16px;
    color: grey;
    cursor: pointer;
}


/* recommend-section */
.recommend-section {
    padding: 50px;
    position: relative;

}

.recommend-section .container {
    /* padding: 20px; */
    background-color: #f1f1f1;
    position: absolute;
    left: 5%;
    display: grid;
    grid-template-columns: 35% 55%;
    justify-content: space-between;
    align-content: center;
    /* border: 1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 10px -10px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;


}

.recommend-section .container .rt {
    grid-area: 1/2/2/3;
    padding: 5px;


}

.recommend-section .container .rt img {
    height: 600px;
    width: 100%;

}

.recommend-section .container .lt {
    grid-area: 1/1/2/2;
    padding: 30px;


}

.recommend-section .container .lt h2 {
    font-size: 40px;
}

.recommend-section .container .lt h6 {
    font-size: 16px;
}

.recommend-section .container .lt .rooms {
    height: 400px;
    overflow-y: scroll;
}

.recommend-section .container .lt .rooms>div img {
    width: 200px;
}

.recommend-section .container .lt .rooms>div {
    padding: 5px;
    display: flex;
}

.recommend-section .container .lt .rooms>div:hover {
    background-color: rgb(227, 227, 227);
}

.recommend-section .container .lt .rooms>div div {
    padding: 10px;

}

/* type section */
.type-section {
    margin-bottom: 50px;
}

.type-section h3 {
    margin: 0 40px;
    padding: 0 30px;
    font-size: 40px;

}

.type-section .container {
    display: grid;
    padding: 30px;
    margin: 40px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 40%;
    gap: 5px;
}

.type-section .container>div {
    background-color: rgb(229, 225, 151);
}

.type-section .container>div img {
    height: 450px;
}

.type-section .container .meeting {
    grid-area: 1/1/3/3;
}

.type-section .container .wedding {
    grid-area: 1/3/2/5;
}

.type-section .container .yacht {
    grid-area: 2/3/3/4;
}

.type-section .container .residences {
    grid-area: 2/4/3/5;
}

.type-section .container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.type-section .container>div:hover {
    transform: scale(90%);
}

.type-section .container>div img {
    filter: contrast(70%);
    filter: brightness(60%);
    position: relative;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.type-section .container>div h3 {
    position: absolute;
    font-size: 50px;
    color: #f1f1f1;
    text-shadow: 3px 5px 10px #000000;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 40px;
    
    
}

footer a,
i {
    color: black;
    text-decoration: none;
}

footer a:hover,i:hover {
    color: gray;
}

@media (min-width:768px) and (max-width: 992px) {
    .welcome-section h5 {
        font-size: 16px;
    }

    .welcome-section h5 span {
        font-size: 40px;
    }

    .welcome-section h6 {
        font-size: 16px;
    }

    .welcome-section .reservation {
        flex-direction: column;
        background-color: white;
        height: auto;
        position: absolute;
        bottom: -60%;
        padding: 10px;
        justify-content: flex-end;
    }

    .welcome-section .reservation label input {
        margin: 20px 0;
        font-size: 20px;
        border-bottom: #000000 0.5px solid;

    }

    .vl {
        display: none;
    }

    .hotel-section .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .hotel-section .container img {
        height: 200px;
        position: absolute;
        left: 60%;
        top: 40%;
        border: 0;
    }

    .hotel-section .container div p {
        line-height: 20.5pt;

    }

    h5.phone {
        left: 5%;
        top: 30%;
    }

    h5.email {
        left: 5%;
        top: 60%;
    }

    .blog-section,
    .recommend-section,
    .type-section {
        height: auto;
    }

    /*.blog-section .container {}*/

    .blog-section .container .card {
        flex-direction: column;
        align-items: center;
    }

    .blog-section .container .card>div {
        margin: 20px;
    }

    .recommend-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recommend-section .container {
        grid-template-columns: 100%;
        position: static;
    }

    .recommend-section .container .rt {
        display: none;
    }

    .type-section .container {
        grid-template-columns: 50% 50%;

    }

    .type-section .container .meeting {
        grid-area: 1/1/2/2;

    }

    .type-section .container .wedding {
        grid-area: 2/1/3/2;

    }

    .type-section .container .yacht {
        grid-area: 2/2/3/3;
    }

    .type-section .container .residences {
        grid-area: 1/2/2/3;
    }
}

@media (min-width: 576px) and (max-width:768px) {
    .welcome-section h5 {
        font-size: 16px;
    }

    .welcome-section h5 span {
        font-size: 40px;
    }

    .welcome-section h6 {
        font-size: 16px;
    }

    .welcome-section .reservation {
        flex-direction: column;
        background-color: white;
        height: auto;
        position: absolute;
        bottom: -60%;
        padding: 10px;
        justify-content: flex-end;
    }

    .welcome-section .reservation label input {
        margin: 20px 0;
        font-size: 20px;
        border-bottom: #000000 0.5px solid;
    }

    .vl {
        display: none;
    }

    .hotel-section .container {
        flex-direction: column;
        align-items: flex-start;

    }

    .hotel-section .container img {
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        border: 0;
    }

    .hotel-section .container div {
        padding: 40px 0;
    }

    .hotel-section .container div h1 {
        font-size: 30px;
        font-weight: 900;

    }

    .hotel-section .container div p {
        line-height: 20.5pt;

    }

    h5.phone {
        left: 5%;
        top: 30%;
        margin: 5px;
    }

    h5.email {
        left: 5%;
        top: 60%;
        margin: 5px;
    }

    .blog-section,
    .recommend-section,
    .type-section {
        height: auto;
    }

    .blog-section .container .card {
        flex-direction: column;
        align-items: center;
    }

    .blog-section .container .card>div {
        margin: 20px;
    }

    .recommend-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recommend-section .container {
        grid-template-columns: 100%;
        position: static;
    }

    .recommend-section .container .rt {
        display: none;
    }

    .type-section .container {
        grid-template-columns: 50% 50%;

    }

    .type-section .container .meeting {
        grid-area: 1/1/2/2;

    }

    .type-section .container .wedding {
        grid-area: 2/1/3/2;

    }

    .type-section .container .yacht {
        grid-area: 2/2/3/3;
    }

    .type-section .container .residences {
        grid-area: 1/2/2/3;
    }

    .type-section .container>div h3 {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    nav ul li a{
        font-size: 14px;
    }
    nav ul .logo img {
        width: 90px;
    }
    .welcome-section h5 {
        font-size: 16px;
        top: 20%;
        left: 50%;
    }

    .welcome-section h5 span {
        font-size: 30px;
    }

    .welcome-section h6 {
        font-size: 14px;
        text-align: center;
        top: 30%;

    }

    .welcome-section>img {
        filter: brightness(80%);
    }

    .welcome-section .reservation {
        flex-direction: column;
        background-color: white;
        height: auto;
        position: absolute;
        bottom: -40%;
        padding: 10px;
        justify-content: flex-end;
    }

    .welcome-section .reservation label input {
        margin: 20px 0;
        font-size: 20px;
        border-bottom: #000000 0.5px solid;
    }

    .vl {
        display: none;
    }

    .hotel-section .container {
        flex-direction: column;
        align-items: center;

    }

.hotel-section h4 {
    padding: 0;
}
    .hotel-section .container img {
        display: none;

    }

    .hotel-section .container div {
        width: 65%;
        padding: 40px 0;
    }

    .hotel-section .container div h1 {
        font-size: 30px;
        font-weight: 900;

    }

    .hotel-section .container div p {
        line-height: 20.5pt;

    }

    h5.phone {
        right: 0%;
        top: 30%;
        margin: 5px;
    }

    h5.email {
        right: 0%;
        top: 70%;
        margin: 5px;

    }

    .blog-section,
    .recommend-section,
    .type-section {
        height: auto;
    }

    .blog-section .container .card {
        flex-direction: column;
        align-items: center;
    }

    .blog-section .container .card>div {
        margin: 20px;
    }

    .recommend-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 90%;
    }

    .recommend-section .container {
        grid-template-columns: 100%;
        position: static;
    }

    .recommend-section .container .rt {
        display: none;
    }

    .type-section .container {
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20%;
        padding: 0;


    }

    .type-section .container .meeting {
        grid-area: 1/1/2/2;

    }

    .type-section .container .wedding {
        grid-area: 2/1/3/2;

    }

    .type-section .container .yacht {
        grid-area: 3/1/4/2;
    }

    .type-section .container .residences {
        grid-area: 4/1/5/2;
    }

    .type-section .container>div h3 {
        font-size: 30px;
    }
}